body {
	text-align: center;
	min-width: 582px;
}

#tablero input {
	width: 64px;
	height: 64px;
	font-size: 30px;
	text-align: center;
	margin-right: -2px;
	margin-left: -2px;
	margin-top: -1px;
	margin-bottom: -1px;
	padding-left: 17px;
}

#tablero input:disabled {
	background-color: #b7daf4;
	color: black;
}

table {
	border-collapse: collapse;
	border: 3px solid blue;
}

td {
	border-right: 5px solid blue;	
}

tr#fila_c, tr#fila_f {
	border-bottom: 3px solid blue;
}

button#btn_comprobar {
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}
